{% extends 'layout.html' %}

{% block title %}
    home
{% endblock %}

{% block main %}
    <style>
      #small {
                color: #ff652f; /* Change to your desired color */
            }
    </style>
    <img src="CrickAuction/auctionbg.jpg" alt="auction background " width="500" height="300">
    <h1 id="small">Ready to compete?</h1>

    <button type="button" class="btn btn-outline-primary btn-lg">Roles</button>
    <p>

    </p>
   <!-- <a href=""><img src="static/auctioneer.jpg" class="img-rounded" alt="auctioneer" width="300" height="400"></a>
    <a href="players/login"><img src="static/player.jpeg"  alt="player" width="300" height="400"></a>
    <a href=""><img src="static/franchise.jpg"  alt="franchise" width="300" height="400"></a> -->

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail with-border">
            <a href="\admin" target="_blank">
              <img src="static/auctioneer.jpg" alt="Auctioneer" width="300" height="400">
              <div class="caption">
                <p><h3>Auctioneer</h3></p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail with-border">
            <a href="{% url 'players:player_login' %}" target="_blank">
              <img src="static/player.jpeg" alt="Player" width="300" height="400">
              <div class="caption">
                <p><h3>Player</h3></p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail with-border">
            <a href="{% url 'franchise:franchise_login' %}" target="_blank">
              <img src="static/franchise.jpg" alt="Franchise" width="300" height="400">
              <div class="caption">
                <p><h3>Franchise</h3></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>



{% endblock %}
