{% extends 'layout.html' %}
{% block title %}
    auction participants
{% endblock %}

{% block main %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
            body{
        background:#747474;
    }

    input.form-control {
    position: relative; /* Ensures it is above any overlapping elements */
    z-index: 1;         /* Bring it to the front */
    margin-top: 10px;   /* Adds space above to prevent overlap */
    }


    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 1rem;
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.5rem 1.5rem;
    }
    .avatar-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #000;
        color: #fff;
        font-weight: 700;
    }

    .avatar {
        width: 3rem;
        height: 3rem;
    }
    .rounded-3 {
        border-radius: 0.5rem!important;
    }
    .mb-2 {
        margin-bottom: 0.5rem!important;
    }
    .me-4 {
        margin-right: 1.5rem!important;
    }
    #small {
                color: #ff652f; /* Change to your desired color */
            }
        </style>
    </head>
    <body>
    {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container">
        <div class="text-center mb-5">
            <h3 id="small"><br>Pick franchises for the {{name}}</h3>
        <p class="lead"></p>
        {% for franchise in franchises %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                <span class="avatar avatar-text rounded-3 me-4 mb-2">{{ franchise.user.username }}</span>
                    <div class="row flex-fill">
                        <div class="col-sm-5">
                        <h4 class="h5">{{ franchise.user.username }} </h4>
                        </div>
                        <div>                 
                                   <input type="number" class="form-control m-2" placeholder="alot purse money" id="purse-{{franchise.user.username}}">
                        </div>
                        <div class="col-sm-3 text-lg-end">
                        <a href="javascript:void(0);" class="btn btn-primary  add-franchise-btn" data-name="{{franchise.user.username}}">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="text-center mb-5">
        <h3 id="small"><br>Pick player for the {{name}}</h3>
    <p class="lead"></p>
    </div>
    {% for player in players %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                <span class="avatar avatar-text rounded-3 me-4 mb-2">{{ player.user.first_name }}</span>
                    <div class="row flex-fill">
                        <div class="col-sm-5">
                        <h4 class="h5">{{ player.user.first_name }} {{ player.user.last_name }}</h4>
                        <span class="badge bg-secondary">{{ player.native }}</span> 
                        <span class="badge bg-success">Base Price<br>Rs.{{ player.base_price }}</span>
                        
                        </div>
                        <div class="col-sm-4 py-2">
                        <span class="badge bg-info">{{ player.batting_style }}<br> batter</span>
                        <span class="badge bg-danger">{{ player.bowling_style }}<br> bowler</span>
                        <span class="badge bg-secondary"></span>
                        <span class="badge bg-secondary"></span>
                        </div>
                        <div class="col-sm-3 text-lg-end">
                        <a href="javascript:void(0);" class="btn btn-primary stretched-link add-player-btn" data-name="{{player.user.first_name}}">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <a href="{% url 'auctioneer:auctioneer_index' %}"><button class="btn btn-primary">Done</button></a>
    <script>
        async function addParticipant(name, type) {
            try {
                const purse = type==='franchise' ?  document.getElementById(`purse-${name}`).value : null;
                const response = await fetch("{% url 'auctioneer:add' auc_name=name %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        'name': name,
                        'type': type,
                        'purse': purse
                    })
                });

                // const data = await response.json();
                // if (data.success) {
                //     alert(`${type} ${name} added successfully!`);
                // } else {
                //     alert(`Failed to add ${type} ${name}.`);
                // }
            } catch (error) {
                console.error("Error:", error);
            }
        }

        // Attach event listeners to "Add" buttons for franchises
        document.querySelectorAll('.add-franchise-btn').forEach(button => {
            button.addEventListener('click', function(event) {
                const franchiseName = event.target.dataset.name;
                addParticipant(franchiseName, 'franchise');
                const card = this.closest('.card');
                if(card){
                    card.style.display = 'none';
                }
            });
        });

        // Attach event listeners to "Add" buttons for players
        document.querySelectorAll('.add-player-btn').forEach(button => {
            button.addEventListener('click', function(event) {
                const playerName = event.target.dataset.name;
                addParticipant(playerName, 'player');
                const card = this.closest('.card');
                if(card){
                    card.style.display = 'none';
                }
            });
        });
    </script>
    
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        
    </script>
    </body>
{% endblock %}