{% extends 'layout.html' %}

{% block title %}
    franchise login
{% endblock %}

{% block main %}
    
    <img src="">
        
    
    <form action="{% url 'franchise:franchise_login' %}" method="POST" autocomplete="off" >
        {% csrf_token %}

        <input autocomplete="false" name="useremail" type="text"  size="30" class="form-control mb-2 mr-sm-2" placeholder="Franchise User Mail" autofocus>
        <p>

        </p>
        <input type="password" name="password" size="50" class="form-control mb-2 mr-sm-2" placeholder="Password">
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p>

    </p>
    <a href="{% url 'franchise:franchise_register' %}">Not registered?</a>


{% endblock %}
